html {
    box-sizing: border-box;
    scroll-behavior: smooth;
      }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    text-decoration: none;
  }

  body {
    font-size: 16px;
    
  }

:root {
    --font-primary: "Raleway", sans-serif;
    --font-secondary: "Open Sans", sans-serif;

    --color-font-primary-grey: #A5A5A5;
    --color-font-primary-black:#000000;
    --color-font-secondery: #13253B;

    --color-primary-blue: #08A6E4;

    --color-items-primary-red:#FB3B64;
    --color-items-secondary-red: #EB476E;
    --color-items-primary-blue: #08A6E4;
    --color-items-secondary-blue:#07ACE6;
    --color-items-green: #55DFB4;

    --color-form-items: #707070;
    --color-form-text: #A5A5A5;
    --color-form-checkbox-lines: #95989A;

    --color-background: #F7F7F7;

    --color-white:#FFFFFF;

    --color-borders: #00000029;
    --color-btn-shadow: #07ACE629;

}

.container {
  max-width: 1352px;
  margin: 0 auto;
}

.page-wrapper {
  max-width: 1352px;
  margin: 0 auto;
}
/* HEADER */

.header {
  width: 100%;
  height: 70px;
  background-color: var(--color-white);
  box-shadow: 0px 3px 6px var(--color-borders);
  font-family: var(--font-secondary);
  position: fixed;
  top: 0;
  z-index: 10;
}


.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.header__logo {
  color: var(--color-items-primary-blue);
  font-family: var(--font-primary);
  line-height: 37px;
  font-size: 32px;
  letter-spacing: 0;
  cursor: pointer;
  margin: 16px 0 17px 136px;
 
}

.header_nav a {
  color: var(--color-font-primary-grey);
  font-family: var(--font-secondary);
  text-transform: uppercase;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 3.28px;
  cursor: pointer;
  display: block;
  position: relative;
  
}

.header_nav a:hover::after {
  content: '';
    position: absolute;
    width: 100%;
    left:0px;
    bottom: -25px;
    height: 4px; 
    background-color: var(--color-items-primary-blue);
  
}

.header_nav a:hover {
  color: var(--color-font-primary-black);
}

  .header_nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 95px;
  margin: 28px 136px 27px 0px;
   

}

/* WHY US */

.opening {
  margin-top: 200px;
  height: 712px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/images/Background.png);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: bottom;
  
}

.opening .container {
  height: 100%;
  
   
}

.opening .opening__heading {
  display: flex;
  justify-content: center;
  font-size: 49px;
  line-height: 57px;
  letter-spacing: 0;
  
  color: var(--color-font-primary-black);
  font-family: var(--font-primary);
  
}

.opening .opening__text {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  font-family: var(--font-secondary);
  color: var(--color-font-primary-black);
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.opening .cta-btn {
  width: 440px;
  height: 67px;
  background-color: var(--color-items-primary-blue);
  border-radius: 40px;
  margin-top: 38px;
  box-shadow: 5px 10px 14px var(--color-btn-shadow);
  filter: drop-shadow(5px 10px 14px #07ACE629);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 157px 23px 157px;
  }

  .opening .cta-btn-text {
  font-size: 16px;
  color: var(--color-white);
  line-height: 22px;
  letter-spacing: 0;
  font-family: var(--font-secondary), bold;
  }

  /* STATISTISC */

  .statistics {
    padding: 100px 0;
  
  }

  
  .statistics .statistics__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0;
    color: var(--color-font-primary-black);
    font-family: var(--font-primary);
  }

.statistics-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

.ellipse2 {
    margin-top: 100px;
    margin-bottom: 14px;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background-color: var(--color-items-primary-red);
    display: flex;
    align-items: center;  
  
  }

  .ellipse2::after {
    content: url(/images/Person.svg);
    margin: 30px;
    
  }

  .ellipse1 {
    margin-top: 100px;
    margin-bottom: 14px;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background-color: var(--color-items-primary-blue); 
    display: flex;
    align-items: center; 
  }

  .ellipse1::after {
    content: url(/images/Eye.svg);
    margin: 30px;
  }

  .ellipse3 {
    margin-top: 100px;
    margin-bottom: 14px;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background-color: var(--color-items-green); 
    display: flex;
    align-items: center; 
  }

  .ellipse3::after {
    content: url(/images/Catalog.svg);
    margin: 30px;
  }

  .statistics__article-heading {
    
    font: normal normal 800 20px/24px var(--font-primary);
    color: var(--color-font-primary-black);
    letter-spacing: 5.96px;
    line-height: 24px;
     
    }

  .statistics__article-text {
    font: normal normal normal 17px/20px var(--font-primary);
    color: var(--color-font-primary-grey);
    margin-top: 19px;
    letter-spacing: 0;
    line-height: 20px;
    width: 121px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    
  }

  .statistics-article--wrapper {
    display: flex;
    justify-content: space-between;
    gap: 180px;
    
    
  }
/* BENEFITS */

 .benefits .container {
  width: 100%;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
    /* padding: 105px 251px 105px 251px; */
 }

 

 .benefits .benefit__item {
  width: 1124px;
  background-color: var(--color-white);
  height: 370px;
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
    
 }

.benefit__item:nth-child(1) {
  margin-top: 105px;
 }
.benefit__item:nth-child(2)
{
  margin-top: 37px;
  margin-bottom: 0;
 }  

 
.benefit__article--heading {
  font-family: var(--font-primary);
  color: var(--color-font-primary-black);
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0;
  text-align: left;
  margin-top: 91px;
  margin-left: 36px;
   
}
.benefit__article::after {
content: "";
background-color: var(--color-items-primary-red);
width: 332px;
height: 4px;
margin-top: 50px;
margin-left: 35px;
display: block;

}
.benefit__article--text {
  font-family: var(--font-secondary);
  color: var(--color-font-primary-black);
  width: 416px;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  margin-top: 30px;
  margin-left: 36px;
}



.rectangle {
  position: relative;
  background-color: var(--color-items-primary-red);
  width: 180px;
  height: 180px;
  transform: rotate(45deg);
  border-radius: 41px;
  margin-top: 38px;
  margin-right: 71px;
  
}

.benefits .macbook{
  position: absolute;
  transform: translate(-40%, 55%) rotate(-45deg);
   
}


 .iphone {
  width: 426px;
  height: 328px;
  margin-top: 29px;
  margin-left: 0;
  /* position: absolute; */
  }

  .benefit__article-phone {
    content:"";
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background-color: var(--color-items-secondary-blue);
    /* position: relative; */
    margin-top: 12px;
    margin-left: 70px;
    display: inline-block;
         
  }

  .benefit__article2 {
    display: flex;
    flex-direction: column;
        /* justify-content: flex-start; */

  }

  .benefit__article--heading-phone {
  font-family: var(--font-primary);
  color: var(--color-font-primary-black);
  font-size: 36px;
  text-align: left;
  
  line-height: 42px;
  letter-spacing: 0;
  margin-top: 69px;
  margin-left: 170px;
  width: 246px;

  }

  .benefit__article--text-phone {
    font-family: var(--font-secondary);
    color: var(--color-font-primary-black);
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    margin-top: 30px;
    margin-left: 170px;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 416px;
    
  } 
    
  .benefit__article2::after { 
  content: "";
  background-color: var(--color-items-primary-blue);
  width: 332px;
  height: 4px;
  margin-left: 28%;  
  margin-top: 50px;
  display: block;
    
  }   

  .benefit__article--heading-trumpet {
  font-family: var(--font-primary);
  color: var(--color-font-primary-black);
  font-size: 36px;
  text-align: left;
  
  line-height: 42px;
  letter-spacing: 0;
  margin-top: 69px;
  margin-left: 35px;
  width: 348px;
  }
   
  .benefit__article--text-trumpet {
    font-family: var(--font-secondary);
    color: var(--color-font-primary-black);
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    margin-top: 30px;
    margin-left: 36px;
    display: flex;
    flex-wrap: wrap;
    width: 533px;
  }

  .benefit__article--text-trumpet::after {
    content: "";
    background-color: var(--color-items-green);
    width: 332px;
    height: 4px;
    margin-top: 44px;
    margin-left: 0;
    display: block;
  }

  .benefit_picture_trumpet {
    /* margin-right: 332px;
    margin-bottom: 105px; */
    background-color: var(--color-items-green);
    margin-top: 37px;
    
  }

  .benefit__item-last {
    width: 623px;
    background-color: var(--color-white);
  height: 370px;
  display: flex;
  justify-content: space-between;
  margin-top: 37px;
  margin-left: 100px;
  margin-bottom: 105px;
  
  }

  .second__wrapper {
    display: flex;
    justify-content: flex-start;
  }

  .benefit__article__picture {
    width: 440px;
    height: 370px;
    margin: 38px 0 105px 60px;
    background-color: #55DFB4;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* PRICES */

  .prices_header {
    font-family: var(--font-primary);
  color: var(--color-font-primary-black);
  font-size: 36px;
  text-align: center;
  
  line-height: 42px;
  letter-spacing: 0;
  margin-top: 100px;
  
  }

  .prices-tables--wrapper {
    display: flex;
    justify-content: center;
    align-self: center;
    
    
  }

  .prices-tables {
    display: flex;
    gap: 59px;

  }

  .prices-tables h3 {
    font-family: var(--font-primary) bold;
    font-size: 20px;
    
  }
  /* TABLE 1 */

  .prices-table1 {
    border: 1px solid var(--color-items-primary-red) ;
    width: 372px;
    height: 461px;
    border-radius: 18px;
    margin-bottom: 42px;
    margin-top: calc(113px - 42px);
    text-align: center;
    

    
  }



  .prices-table1 h3 {
      margin-top: 34px;
      margin-bottom: 14px;
      color:#13253B;
      font-size: 20px;
      font-family: var(--font-primary);
      font-weight: bold;
      letter-spacing: 1px;
    }

    .price1 {
      font-family: var(--font-secondary);
      color: #FB3B64;
      font-size: 46px;
      letter-spacing: 2px;
      font-weight: light;
      margin-bottom: 69px;
    }

    .list1 li {
      margin-bottom: 20px;
      position: relative;
      margin-bottom: 20px;
      font-size: 14px;
      letter-spacing: 0px;
      color: var(--color-font-primary-black);
    }

   
    .list1 li::before {
        content: url(/assets/Checkmark-2.svg);
        display: inline-block;
        color: #7a55df;
        position: absolute;
        margin-left: -20px;
        
          }
      .list1 li:nth-last-child(1)::before {
            content: url(/assets/Close.svg);
            display: inline-block;
            color: #7a55df;
            position: absolute;
            margin-left: -20px;
      }

      .list1 li:nth-last-child(2)::before {
        content: url(/assets/Close.svg);
        display: inline-block;
        color: #7a55df;
        position: absolute;
        margin-left: -20px;
  }
    
    
  

  /* TABLE 2 */
  .prices-table2 {
      border: 1px solid var(--color-items-secondary-blue);
      width: 405px;
      height: 500px;
      border-radius: 18px;
      box-shadow: 5px 10px 27px var(--color-btn-shadow);
      margin-top: 50px;
      margin-bottom: 24px;
      text-align: center;
  }

  .prices-table2 h3 {
    margin-top: 34px;
    margin-bottom: 14px;
    color:#13253B;
    font-size: 20px;
    font-family: var(--font-primary);
    font-weight: bold;
    letter-spacing: 1px;
  }

  .price2 {
    font-family: var(--font-secondary);
    color: var(--color-items-secondary-blue);
    font-size: 46px;
    letter-spacing: 2px;
    font-weight: light;
    margin-bottom: 15px;
  }

  .offer {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 61px;
  }

  .list2 li {
    margin-bottom: 20px;
    position: relative;
    margin-bottom: 20px;
    font-size: 14px;
    letter-spacing: 0px;
    color: var(--color-font-primary-black);
  }

 
  .list2 li::before {
      content: url(/assets/Checkmark-2.svg);
      display: inline-block;
      position: absolute;
      margin-left: -20px;
              }

  .list2 li:nth-last-child(1)::before {
          content: url(/assets/Close.svg);
          display: inline-block;
          position: absolute;
          margin-left: -20px;
    }

   


  /* TABLE 3 */
  .prices-table3 {
    border: 1px solid var(--color-items-green);
    width: 372px;
    height: 461px;
    border-radius: 18px;
    margin-bottom: 42px;
    margin-top: calc(113px - 42px);
    text-align: center;
  }

  .prices-table3 h3 {
    margin-top: 34px;
    margin-bottom: 14px;
    color:#13253B;
    font-size: 20px;
    font-family: var(--font-primary);
    font-weight: bold;
    letter-spacing: 1px;
  }

  .price3 {
    font-family: var(--font-secondary);
    color: var(--color-items-secondary-blue);
    font-size: 46px;
    letter-spacing: 2px;
    font-weight: light;
    margin-bottom: 15px;
  }

  .offer {
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 61px;
  }

  .list3 li {
    margin-bottom: 20px;
    position: relative;
    margin-bottom: 20px;
    font-size: 14px;
    letter-spacing: 0px;
    color: var(--color-font-primary-black);
  }
  .list3 li::before {
    content: url(/assets/Checkmark-2.svg);
    display: inline-block;
    position: absolute;
    margin-left: -20px;
            }

    /* CONTACT */

    .contact {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .contact--wrapper {
      display: flex;
      margin-top: 155px;  
      height: 376px;
      width: 896px;
    }

    .questions {
      font-family: var(--font-primary);
      font-size: 49px;
      width: 50%;
      
      
      
    }

    .questions-text {
      font-family: var(--font-secondary);
      font-size: 16px;
      margin-top: 22px;
      margin-bottom: 42px;
    }

    .contact-details {
      display: flex;
      font-family: var(--font-secondary);
      color:var(--color-font-primary-grey);
      font-size: 16px;
      position: absolute;
      gap: 40px;
      
    }
    .contact-details-email::before {
      content: url(/assets/Mail\ Icon.svg);
      display: inline-block;
      margin-right: 1em;
      
    }
    .contact-details-tel::before {
      content: url(/assets/Phone\ Icon.svg);
      display: inline-block;
      margin-right: 1em;
      
    }

    /* FORM */


    .form {
      display: flex;
      flex-direction: column;
      width: 50%;
           
          }

    .input-wrapper {
      color: var(--color-items-primary-blue);
      font-family: var(--font-secondary);
      font-size: 11px;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

   
    input[type="text"],
    input[type="email"] {
      outline: none;
      border-top: none;
      border-left: none;
      border-right: none;
      border-color: var(--color-items-primary-blue);
    }

    .checkbox-container {
      display: flex;       /
      align-items: flex-start; 
      gap: 12px;          
      cursor: pointer;
      margin-top: 20px;
      margin-bottom: 40px;
    }

    .checkbox-container input {
      opacity: 0;
      position: absolute;
    }

    .checkmark {
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      border: 1px solid var(--color-form-checkbox-lines);
      border-radius: 4px;
      position: relative;
    } 

    .checkbox-container input:checked ~ .checkmark::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 11px;
      width: 12px;
      background-image: url(/assets/Checkmark.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }
      
    
/* input[type="checkbox"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: inline-block;
      vertical-align: middle;
      outline: none;
      position: relative;
      width: 24px;
      height: 24px;
      border: 1px solid var(--color-form-checkbox-lines);
      border-radius: 4px;

    
    }

    input[type="checkbox"]:checked::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 11px;
      width: 12px;
      background-image: url(/assets/Checkmark.svg); 
      background-size: contain;
      background-repeat: no-repeat;
    } */

.button-form {
  width: 226px;
  height: 57px;
  border-radius: 30px;
  border: 0;
  background-color: var(--color-items-primary-blue);
  color: var(--color-white);
  font-family: var(--font-secondary);
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  outline: none;
  cursor: pointer;
  box-shadow: 5px 10px 14px var(--color-btn-shadow);
  filter: drop-shadow(5px 10px 14px #07ACE629);
  
}
.button-wrapper {
display: flex;
justify-content: flex-end;
}


/* FOOTER */

.footer {
  width: 100%;
  height: 89px;
  box-shadow: 0px -5px 40px var(--color-borders);
  opacity: 1;
  align-content: center;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  
  
}

.footer-logo p {
  font-family: var(--font-primary);
  font-size: 26px;
  font-weight: light;
  color: var(--color-items-primary-blue);
}

.footer-logo span {
  font-family: var(--font-secondary);
  font-size: 11px;
  color: var(--color-font-primary-grey);
}

.footer-logo {
  margin-left: 137px;
}

.footer-socials {
  margin-right: 136px;
}