html {
    box-sizing: border-box;
    scroll-behavior: smooth;
      }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    text-decoration: none;
  }

:root {
    --font-primary: "Raleway", sans-serif;
    --font-secondary: "Open Sans", sans-serif;

    --color-font-primary-grey: #A5A5A5;
    --color-font-primary-black:#000000;

    --color-primary-blue: #08A6E4;

    --color-items-primary-red:#FB3B64;
    --color-items-secondary-red: #EB476E;
    --color-items-primary-blue: #08A6E4;
    --color-items-secondary-blue:#07ACE6;
    --color-items-green: #55DFB4;

    --color-form-items: #707070;
    --color-form-text: #707070;

    --color-background: #F7F7F7;

    --color-white:#FFFFFF;

    --color-borders: #00000029;
    --color-btn-shadow: #07ACE629;

}

.container {
  max-width: 1352px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 70px;
  background-color: var(--color-white);
  box-shadow: 0px 3px 6px var(--color-borders);
  font-family: var(--font-secondary);
  /* margin: 16px 0 17px 0; */

  position: fixed;
  top: 0;
  z-index: 10;
}

/* HEADER */

.header .container {
  display: flex;
  justify-content: space-between;
  
}

.header__logo {
  padding: ;
  color: var(--color-items-primary-blue);
  font-family: var(--font-primary);
  line-height: 37px;
  font-size: 32px;
  letter-spacing: 0;
  cursor: pointer;
  margin: 16px 0 17px 136px;
 
}

.header_nav a {
  color: var(--color-font-primary-grey);
  font-family: var(--font-secondary);
  text-transform: uppercase;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 3.28px;
  cursor: pointer;
  display: block;
  position: relative;
  
}

.header_nav a:hover::after {
  content: '';
    position: absolute;
    width: 100%;
    left:0px;
    bottom: -25px;
    height: 4px; 
    background-color: var(--color-items-primary-blue);
  
}

.header_nav a:hover {
  color: var(--color-font-primary-black);
}

  .header_nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 95px;
  margin: 28px 136px 27px 0px;
   

}

/* WHY US */

.whyus {
  margin-top: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/images/Background.png);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  
}

.whyus .container {
  height: 100vh;
  
   
}

.whyus .statistics__heading {
  display: flex;
  justify-content: center;
  font-size: 49px;
  line-height: 57px;
  letter-spacing: 0;
  
  color: var(--color-font-primary-black);
  font-family: var(--font-primary);
  
}

.whyus .statistics__text {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  font-family: var(--font-secondary);
  color: var(--color-font-primary-black);
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.whyus .cta-btn {
  width: 440px;
  height: 67px;
  background-color: var(--color-items-primary-blue);
  border-radius: 40px;
  margin-top: 38px;
  box-shadow: 5px 10px 14px var(--color-btn-shadow);
  filter: drop-shadow(5px 10px 14px #07ACE629);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 157px 23px 157px;
  }

  .whyus .cta-btn-text {
    font-size: 16px;
    color: var(--color-white);
    line-height: 22px;
    letter-spacing: 0;
    font-family: var(--font-secondary), bold;
  }