@use "sass:map";


.container-grid {
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 $gutter / 2;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

[class*='col-'] {
    min-height: 1px;
    width: $column-base-width;
    padding: $gutter / 2;
  }
 
@for $i from 1 through $columns {
    .col-#{$i} {
    width: $column-base-width * $i;
    }
}  

@include respond-to(sm) {
    @for $i from 1 through $columns {
        .col-sm-#{$i} {
            width: $column-base-width * $i;
        }
    }
} 

@include respond-to(md) {
   @for $i from 1 through $columns { 
    .col-md-#{$i} {
        width: $column-base-width * $i;
    }
}
}


@include respond-to(lg) {
    @for $i from 1 through $columns {
        .col-lg-#{$i} {
            width: $column-base-width * $i;
        }
    }
}

@include respond-to(xl) {
    @for $i from 1 through $columns {
        .col-xl-#{$i} {
            width: $column-base-width * $i;
        }
    }
}