@import "/scss/settings/variables";
@import "/scss/settings/mixins";

@import "/scss/generic/reset";
@import "/scss/elements/base";

@import "/scss/generic/grid";


@import "/scss/sections/nav-header";
@import "/scss/sections/opening";
@import "/scss/sections/statictics";
@import "/scss/sections/benefits";
@import "/scss/sections/prices";
@import "/scss/sections/contacts";
@import "/scss/sections/footer";


html {
    box-sizing: border-box;
    scroll-behavior: smooth;
      }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    text-decoration: none;
  }

  
:root {
    --font-primary: "Raleway", sans-serif;
    --font-secondary: "Open Sans", sans-serif;

    --color-font-primary-grey: #A5A5A5;
    --color-font-primary-black:#000000;
    --color-font-secondery: #13253B;

    --color-primary-blue: #08A6E4;

    --color-items-primary-red:#FB3B64;
    --color-items-secondary-red: #EB476E;
    --color-items-primary-blue: #08A6E4;
    --color-items-secondary-blue:#07ACE6;
    --color-items-green: #55DFB4;

    --color-form-items: #707070;
    --color-form-text: #A5A5A5;
    --color-form-checkbox-lines: #95989A;

    --color-background: #F7F7F7;

    --color-white:#FFFFFF;

    --color-borders: #00000029;
    --color-btn-shadow: #07ACE629;

}

.container {
  max-width: 1352px;
  margin: 0 auto;
}


